.imageGalleryContainer {
    width: 100%;
    float: left;
    position: relative;
    z-index: 0;
}

.galleryToolsContainer {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
}

.albumContainer {
    width: 210px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    text-align: left;
}

.loading {
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 0;
}