.uploadImage {
    display: inline-block;
}

.uploadImage > input {
    display: none;
}

.addImage {
    width: 150px;
    opacity: 0.2;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: middle;
    transition: opacity 0.25s ease-in-out;
}

.addImage:hover {
    opacity: 0.15;
}

.progressBar {
    width: 150px;
    height: 10px;
    display: block;
}