.loginContainer {
    display: inline-block;
}

.loggedIn {
    padding-top: 15px;
    padding-bottom: 75px;
}

.loggedIn button {
    margin-left: .5rem !important;
    padding: 0 .5rem 0 .5rem !important;
    transition: opacity 0.15s ease-in-out;
}

.loggedIn button:hover {
    opacity: 0.8;
}

.notLoggedIn {
    padding-bottom: 75px;
}

form {
    display: flex !important;
}

form input[type=password] {
    border-radius: 0.25rem 0rem 0rem 0.25rem !important;
}

form input[type=submit] {
    border-radius: 0rem 0.25rem 0.25rem 0rem !important;
    transition: opacity 0.15s ease-in-out;
}

form input[type=submit]:hover {
    opacity: 0.8;
}
  
.urlPhoto {
    width: 40px;
    vertical-align: bottom;
    padding-right: 5px;
}

em {
    text-align: left;
    display: inline-block;
    color: #D8000C;
    font-size: smaller;
    width: 100%;
}