.loginContainer {
    display: inline-block;
}

.loggedIn {
    padding-top: 15px;
    padding-bottom: 75px;
}

.notLoggedIn {
    padding-bottom: 75px;
}

.loggedIn button {
    margin-left: 5px;
    padding: 0px 15px;
    transition: opacity 0.15s ease-in-out;
}

.loggedIn button:hover {
    opacity: 0.8;
}

.notLoggedIn button {
    border-radius: 0 5px 5px 0;
    transition: opacity 0.15s ease-in-out;
}

.notLoggedIn button:hover {
    opacity: 0.8;
}
  
.urlPhoto {
    width: 40px;
    vertical-align: bottom;
    padding-right: 5px;
}

em {
    text-align: left;
    display: inline-block;
    color: #D8000C;
    font-size: smaller;
    width: 100%;
}