.upload-image > input {
    display: none;
}

.add-image {
    width: 150px;
    opacity: 0.3;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.add-image:hover {
    opacity: 0.35;
}

.image-gallery {
    width: 150px;
    border-radius: 10px;
    margin-left: 10px;
    vertical-align: middle;
    transition: width 0.6s;
}

.progress-bar {
    width: 150px;
    height: 10px;
    vertical-align: top;
}

/* .image-gallery:hover {
    width: 250px;
} */