.upload-image {
    display: inline-block;
}

.upload-image > input {
    display: none;
}

.add-image {
    width: 150px;
    opacity: 0.2;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: middle;
    transition: opacity 0.25s ease-in-out;
}

.add-image:hover {
    opacity: 0.15;
}

.progress-bar {
    width: 150px;
    height: 10px;
    vertical-align: top;
}